@using FTPServices.Services
@inherits LayoutComponentBase
@inject IFtpServices ftpServices
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
@inject IDataService dataService
@using DashboardApp.Models
@using DashboardApp.Services

<div class="page">
    <div>
        <div class="container">
            <h1 class="title-box">
                Dashboard
            </h1>
            @Body
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="dashboard-box">
                        <h2>SOAP</h2>
                        <p>Solopgang: @Sunrise </p>
                        <p>Solnedgang: @sunset </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Dato</th>
                                    <th scope="col">Temperatur</th>
                                    <th scope="col">Skydækket</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var weatherForcastDto in weatherForcastDtos)
                                {
                                    <tr>
                                        <td>@weatherForcastDto.Datetime </td>
                                        <td>@weatherForcastDto.Temp C </td>
                                        <td>@weatherForcastDto.CloudCover %</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="col">
                    <div class="dashboard-box">
                        <h2>FTP Solpanel</h2>
                        <div>
                            KWH:
                            <p> @power </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private HubConnection? hubConnection;
    private List<WeatherForcastDto> weatherForcastDtos = new List<WeatherForcastDto>();
    public int power = 0;
    DateTime Sunrise = new DateTime();
    DateTime sunset = new DateTime();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        weatherForcastDtos = await dataService.GetWeatherForcast("kolding");

        sunset = weatherForcastDtos.First().Sunset;
        Sunrise = weatherForcastDtos.First().Sunrise;

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/notifyhub"))
            .Build();

        hubConnection.On("ReceiveNotification", () =>
        {
            power = ftpServices.GetCalculatePower();
            StateHasChanged();
        });

        await hubConnection.StartAsync();

        power = ftpServices.GetCalculatePower();

    }
    
    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

}