.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.title-box {
    padding: 30px 0px;
    margin-top: 15px;
    background-color: rgba(240, 248, 255, 0.5);
    border: dotted;
    border-radius: 30px;
    text-align: center;
}


.dashboard-box {
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    padding: 50px;
    font-weight: bold;
}

.dashboard-box li {
    font-weight: bold;
}

.dashboard-box li p {
    font-weight: normal;
}

.dashboard-box p {
    font-weight: normal;
}
